@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    background-color: #b7ffd5;
}